# Node modules
node_modules/

# Python virtual environment
venv/

# Log files
*.log

# OS-specific files
.DS_Store

# IDE/editor specific files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Other files to ignore
*.env
*.pyc
*.pyo
*.pyd
